node_modules/

backend/node_modules/.yarn-integrity
backend/node_modules/.bin/cdl
backend/node_modules/.bin/css-beautify
backend/node_modules/.bin/editorconfig
backend/node_modules/.bin/esparse
backend/node_modules/.bin/esvalidate
backend/node_modules/.bin/html-beautify
backend/node_modules/.bin/is-ci
backend/node_modules/.bin/js-beautify
backend/node_modules/.bin/mime
backend/node_modules/.bin/mkdirp
backend/node_modules/.bin/nodemon
backend/node_modules/.bin/nodetouch
backend/node_modules/.bin/nopt
backend/node_modules/.bin/rc
backend/node_modules/.bin/semver
backend/node_modules/.bin/sequelize
backend/node_modules/.bin/sequelize-cli
backend/node_modules/.bin/uuid
backend/node_modules/.bin/which
backend/node_modules/cross-spawn/node_modules/.bin/which
backend/node_modules/editorconfig/node_modules/.bin/semver
backend/node_modules/got/node_modules/safe-buffer/index.d.ts
backend/node_modules/got/node_modules/safe-buffer/index.js
backend/node_modules/got/node_modules/safe-buffer/LICENSE
backend/node_modules/got/node_modules/safe-buffer/package.json
backend/node_modules/got/node_modules/safe-buffer/README.md
backend/node_modules/js-beautify/node_modules/.bin/editorconfig
backend/node_modules/js-beautify/node_modules/.bin/mkdirp
backend/node_modules/js-beautify/node_modules/.bin/nopt
backend/node_modules/mysql2/node_modules/.bin/cdl
backend/node_modules/nodemon/node_modules/.bin/nodetouch
backend/node_modules/nodemon/node_modules/.bin/semver
backend/node_modules/package-json/node_modules/.bin/semver
backend/node_modules/redeyed/node_modules/.bin/esparse
backend/node_modules/redeyed/node_modules/.bin/esvalidate
backend/node_modules/registry-auth-token/node_modules/.bin/rc
backend/node_modules/registry-auth-token/node_modules/safe-buffer/index.d.ts
backend/node_modules/registry-auth-token/node_modules/safe-buffer/index.js
backend/node_modules/registry-auth-token/node_modules/safe-buffer/LICENSE
backend/node_modules/registry-auth-token/node_modules/safe-buffer/package.json
backend/node_modules/registry-auth-token/node_modules/safe-buffer/README.md
backend/node_modules/registry-url/node_modules/.bin/rc
backend/node_modules/safe-buffer/index.js
backend/node_modules/safe-buffer/package.json
backend/node_modules/safe-buffer/README.md
backend/node_modules/semver-diff/node_modules/.bin/semver
backend/node_modules/send/node_modules/.bin/mime
backend/node_modules/sequelize/node_modules/.bin/semver
backend/node_modules/sequelize/node_modules/.bin/uuid
backend/node_modules/sequelize/types/index.d.ts
backend/node_modules/sequelize/types/lib/sequelize.d.ts
backend/node_modules/sequelize-cli/node_modules/.bin/css-beautify
backend/node_modules/sequelize-cli/node_modules/.bin/html-beautify
backend/node_modules/sequelize-cli/node_modules/.bin/js-beautify
backend/node_modules/touch/node_modules/.bin/nopt
backend/node_modules/update-notifier/node_modules/.bin/is-ci
